node_modules
.next
out
dist
coverage

.git
.gitignore
.gitattributes

.idea
.vscode

.DS_Store
**/.DS_Store
__MACOSX
**/__MACOSX

*.log
npm-debug.log*
yearn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

*.tsbuildinfo

npm-cache
.npm
.yarn
.pnpm-store

*.zip